.DS_Store
Thumbs.db
db.json
*.log
node_modules
node_modules/**/*
public
public/**/*
.deploy*/**/*
_multiconfig.yml
checksum.txt
dist/**/*
dist
symlinking
*.build.tsbuildinfo
.public
.public/**/*
.vscode
.vscode/**/*
